# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Dependency directory
node_modules

# OS Files
.DS_Store

# build files
build/

# mock images
src/server/images

#Intellij
.idea/
