<div layout="column" layout-fill>
    <md-toolbar layout-align="center center">
        <div class="md-toolbar-tools">
            <h1>Account</h1>
        </div>
    </md-toolbar>
    <md-content flex>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Settings">
                <md-content>
                    <components-account-account-settings-form>
                    </components-account-account-settings-form>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
